.dashboard-card-1 {
    width: 500px;
    height: 500px;
}

.dashboard-row-1 {
    margin-left: 100px!important;
    margin-top: 60px!important;
    margin-right: 0!important;
}

.dashboard-col-1 {
    margin-left: 15px;
}

.dashboard-card-2 {
    width: 500px;
    height: 500px;
}
