.password-change-container-1 {
    margin-left: 700px;
}

.password-change-form-1 {
    margin-right: 0px;
}

.password-change-control-1 {
    width: 30%;
}

.password-change-label-1 {
    margin-top: 5px;
    color: #666;
    font-size: 20px;
}

.err {
    margin-top: 5px;
    color: #222;
    font-size: 20px;
}

.password-change-button-1 {
    margin-left: 70px;
    width:13%;
    height:40px;
    background-color: #0dcaf0;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}


.password-change-button-1:hover {
    background-color: #31d2f2;
}